---
import { Image } from 'astro:assets';
const { title, company, companyImgUrl, date } = Astro.props;
---

<div class="experience-preview">
  <div class="title-container">
    <div class="company-info">
      <Image
        width={150}
        height={150}
        alt={`Company logo of ${company}`}
        loading={'lazy'}
        decoding={'async'}
        class="company-logo"
        src={companyImgUrl}
      />
      <h2>{company}</h2>
    </div>
    <h4 class="title">{title}</h4>
  </div>
  <div class="date-container">
    <p>{date}</p>
  </div>
</div>

<style>
  * {
    color: var(--text-color);
  }
  .experience-preview {
    display: flex;
    background-color: #263238;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
  }
  .experience-info {
    display: flex;
    flex-direction: column;
    background-color: #263238;
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px;
    flex-basis: 40%;
  }

  .company-info {
    display: flex;
    gap: 1rem;
    max-height: 48px;
    align-items: center;
  }

  .company-logo {
    width: 32px;
    height: fit-content;
    object-fit: contain;
  }

  .title {
    margin-top: 10px;
  }
  .date-container {
    display: flex;
    place-items: center;
    margin-left: auto;
  }
</style>
